<html lang="en">
<head>
	<title>Blogs by me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="bootstrap.min.css" rel="stylesheet">
	<link href="font-awesome.min.css" rel="stylesheet">
	<link href="linecons-font-style.css" rel="stylesheet">
	<link href="style.css" rel="stylesheet">	
	<link rel="stylesheet" href="owl.carousel.css">
<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head>
</head>
<body>

	<div id="page-top"></div>
	
	<div class="info-top conainer clearfix" style="text-align:center; padding-bottom:30px">
            <h1>DEEPAK MISHRA</h1>
            <h2>Web Devloper</h2>
    </div>

	<div id="page-name-sec">
		<div class="parallax-style page-name-sec">
			<div class="pattern">
				<div class="container">
					 <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
            <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
      <![endif]-->
      
				<div id="scroll-to-top" style="bottom: 20px;">
					<span>
						<img class="scrollTop" src="scrollTop.png" alt="scrollTop">
					</span>
				</div>
    <!--Info Seciton-->
				<section id="info">
					
					<div class="clear spacing"></div>

					<div class="col-sm-12 coding">
						<img src="coder-welcome.png" class="img-responsive" alt="welcome" >       
						<div class="destopcode">
							<div class="line1">&lt;!DOCTYPE html><span>&nbsp;</span></div>
							<div class="line2">&lt;html><span>&nbsp;</span></div>
							<div class="line3">&emsp;&lt;head><span>&nbsp;</span></div>
							<div class="line4">&emsp;&emsp;&lt;title&gt; <p>Crazy Dev!:)</p> &lt;/title><span>&nbsp;</span></div>
						</div>
					</div>  
					<div class="scrolldown">
						<img class="scrollabout" src="scrollDown.png" alt="Scroll Down" > 
					</div>  
				</section>					
				</div>				
			</div>			
		</div>
	</div>
	<!-- Page Name Section End-->
			<section id="blogs">
				<div class="col-md-12">
					<div class="container">
						<div >
							<h1 class="col-md-12" style="padding-bottom:20px">blogs</h1>
						</div>
					</div>
				</div>
			</section>
	<div id="blog-page" class="blog-page" >
		<div class="container">
			<div class="row">
			
				<!-- Post Content -->
				<div id="post-container" class="col-md-12" role="main">
					<div class="post-container">
						<article class="post">
							<div class="post-thumbnail">
								<a href="#"><img src="http://jeweltheme.com/html/topclass/default/images/blog-post/blog-post-2.jpg" alt="Post Thumbnail Image"></a>
							</div><!-- /.post-thumbnail -->
							<div class="post-content">
								<h2 class="post-title">
									<a href="http://jeweltheme.com/html/topclass/default/single-page.html">TopClass Multipurpose HTML5 Template</a>
								</h2>
								<div class="entry">
									<p>
										TopClass is a multipurpose HTML template presented by JWTheme and designed by BigPSfan. It can be easily used to make a WP Theme as well as some others. We have tried to add WP classes to make TopClass WP friendly and we believe that the features have ability to make you smile :) .  
									</p>
								</div><!-- /.entry -->
								<footer class="post-meta">
									<div class=" pull-left">
										<span class="entry-date" style="color:#1fb5ac;">
											April 11, 2015
										</span>
									</div><!-- /.entry-meta -->
									<div class="continue-reading pull-right">
										<a href="http://jeweltheme.com/html/topclass/default/blog-single.html">Continue reading ...</a>
									</div><!-- /.continue-reading -->
								</footer><!-- /.post-meta -->
							</div><!-- /.post-content --> 
						</article><!-- /.post -->
<!--	 
						<nav class="paging-navigation" role="navigation">							
							<a class="page-numbers active" href="#">1</a>
							<a class="page-numbers" href="#">2</a>
							<a class="page-numbers" href="#">3</a>
							<a class="page-numbers" href="#">4</a>
							<a class="page-numbers" href="#">5</a>							
						</nav><!-- /.paging-navigation -->

					</div><!-- /.post-container -->
				</div><!-- /.col-md-8 -->
				<!-- Post Content End -->

			</div><!-- /.row -->	
		</div><!-- /.container -->
	</div><!-- /#blog-page -->

	<!-- Footer Section -->
	<footer id="footer-section">
		<div class="copyright">
			<div class="container">
				&copy; <a href="#">dpkkmishra</a>  2014 - Developed by <a href="#">Deepak Mishra</a>
			</div><!-- /.container -->
		</div><!-- /.copyrights -->
	</footer><!-- /#footer-section -->
	<!-- Footer Section End -->

	<!-- Include modernizr-2.8.0.min.js -->
	<script src="modernizr-2.8.0.min.js"></script>

	<!-- Include jquery.min.js plugin -->
	<script src="jquery-2.1.0.min.js"></script>

	<!-- Include JavaScript Plugins -->
	<script src="plugins.js"></script>

	<!-- Include JavaScript Functions -->
	<script src="functions.js"></script>

	<!-- Include jquery.parallax.js Plugins -->
	<script src="jquery.parallax.js"></script>

	<!-- Include jquery.fitvids.js Plugins -->
	<script src="jquery.fitvids.js"></script>

	<script>
		jQuery(document).ready(function(){
			 // Target your .container, .wrapper, .post, etc.
			 jQuery(".video-container").fitVids();
			});
	</script>

</body>

</html>


